:root {
  --quater: 3vh;
}

*  {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Campton';
  src: url(stuff/campton);
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: 'Campton';
  transition: all ease;
}

.megaWrapper {
  display: block;
}

.wrapper {
  position: static;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow: hidden;
}

#pineSpiral {
  position: fixed;
  transform: translate(-10vw, -30vw);
  height: 400vh;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.info_bar {
  margin: 7vh 0 7vh 7vh;
  max-width: 50vw;
}

.info_bar h2 {
  font-size: 7vh;
  margin: 0 auto;
  display: block;

  transition: opacity 1s ease;
}

.info_bar h3 {
  display: block;
  font-size: 3vh;
  font-weight: 500;
  margin-top: 0;
}

.sub-head::before {
  display: inline-block;
  content: '';
  height: 3vh;
  width: 3vh;
  background: #fcc200;
  border-radius: 50%;
  margin-right: 1vh;
  transform: translateY(0.5vh);
}

.desc {
  display: block;
  margin-bottom: 3vh;
}

.photos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.progressHeading {
  margin-top: 3vh;
  margin-bottom: 0;

  position: absolute;
  top: 65%;
}

.progressHeading::before {
  display: inline-block;
  content: '';
  border-left: 1.5vh solid transparent;
  border-right: 1.5vh solid transparent;
  border-bottom: 3vh solid #fcc200;

  margin-right: 1vh;
  transform: translateY(0.5vh);
}

.photos img {
  border-radius: 3%;
  max-width: 150px;
}

.peer {
  margin-top: 1vh;
  max-height: 20vh;
  gap: 20vh;
  padding: 2vh;
  border-radius: 3%;
  background: linear-gradient(
    90deg,
    rgba(252, 194, 0, 0.25) 0%,
    rgba(255, 255, 255, 1) 80%
  );

  display: flex;
  position: absolute;
  top: 70%;

  transition: all 1s ease-in-out;
}

.plainInfo {
  min-height: 44vh;
}

.progress {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 10vh;
  align-items: center;
  max-height: 20vh;
}

.progress #person {
  max-height: 18vh;
  margin-left: 5vh;

  transition: all 2s ease;
}

.progressBars {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.progressBars > h4:not(:first-child) {
  flex-grow: 1;
  margin: 1vh 0 0 0;
}

.progressBars h4:first-child {
  margin: 0;
}

.progressBars h4 {
  font-weight: 400;
  font-size: 1.25vh;
  margin-bottom: 0.25vh;
}

.progressBar {
  background: rgba(255, 255, 255, 1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 5px;
  display: flex;
  height: 2vh;
  width: 20vw;
}

.fillingFirstQuaterBar {
  box-shadow: 0 10px 40px -10px #fcc200;
  border-radius: 100px;
  background: #fcc200;
  height: 1.8vh;
  width: 1%;

  transition: width 1s ease-in-out;
}

.fillingSecondQuaterBar {
  box-shadow: 0 10px 40px -10px #7a6ce6;
  border-radius: 100px;
  background: #7b6ce6;
  height: 1.8vh;
  width: 1%;
  transition: width 1s ease-in-out;
}

.fillingThirdQuaterBar {
  box-shadow: 0 10px 40px -10px #00a8f0;
  border-radius: 100px;
  background: #00a8f0;
  height: 1.8vh;
  width: 1%;
  transition: width 1s ease-in-out;
}

.fillingFourthQuaterBar {
  box-shadow: 0 10px 40px -10px #2dd6875e;
  border-radius: 100px;
  background: #2dd687;
  height: 1.8vh;
  width: 1%;
  transition: width 1s ease-in-out;
}

#map {
  z-index: 2;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  margin: 0;
  max-height: 20vh;
  max-width: 22vh;
}

#map img {
  opacity: 100%;
}

.second_img {
  transform: translate(0, -20vh);
  opacity: 0%;
}

/* .upperHalf {
    max-width: calc((1.46304745 + 1.57764599) * var(--quater));
    max-height: calc(((1.223540145985401) * var(--quater));
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.bottomHalf {
    max-width: calc((1.46304745 + 1.57764599) * var(--quater));
    max-height: calc((1.512773722627737) * var(--quater));
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.first {
    display: inline-block;
    width: var(--quater);
    height: calc(1.2246 * var(--quater));
  }
  
  .second {
    display: inline-block;
    width: calc(var(--quater) * 1.459625912408759);
    height: calc(var(--quater) * 1.223540145985401);
  }
  
  .third {
    display: inline-block;
    width: calc(var(--quater) * 1.46304745);
    height: calc(var(--quater) * 1.512773722627737);
  }
  
  .fourth {
    display: inline-block;
    width: calc(var(--quater) * 1.57764598540146);
    height: calc(var(--quater) * 1.512773722627737);
    z-index: 2;
  } */

.fadeIn {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: scale(0.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
